* {margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F0F0F0;
    line-height: 1.6;
}
a{
    text-decoration: none;
}
.main{
    position: relative;
}
.header-login{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding-top: 5px;
    font-size: 13px;
    font-weight: bold;
    white-space : nowrap;
}
.header-login a{
    display: inline-block;
    padding: 0 20px;
}
.header-name{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 14px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
}
.address{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
}
#address_input{
    height: 20px;
    width: 25%;
}
.search{
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: right;
    padding-right: 30px;
}
#search_text{
    height: 15px;
    left: 100px;
}