@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    background-size: cover;
}


.Register {position: relative; z-index: 2;}
.Register h1 {
    font-size: 5vw; color: #7CAB75; font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}


.input-area{
    width: 80vw; position: relative;
    margin-top: 20px;
}
.input-area:first-child {margin-top: 0;}
.input-area input{
    width: 105%; height: 7vw;
    padding: 20px 10px 10px;
    background-color: #D9D9D9;
    border: none;
    font-size: 3vw; color: #000000;
    outline: none;
    border-radius: 2vw;
}
.input-area label{
    position: absolute; left: 1vw; top: 1vw;
    font-size: 3vw; color: #999;
    transition: all .5s ease;
}
.input-area label.warning{
    color:red !important;
    animation: waring .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning{
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.input-area input:focus + label,
.input-area input:valid + label {
    top: -2px;
    font-size: 2vw; color: #7CAB75;
}


.phone-input-area{
    width: 80vw; position: relative;
    margin-top: 20px;
}
.phone-input-area:first-child {margin-top: 0;}
.phone-input-area input{
    width: 75%; height: 7vw;
    padding: 20px 10px 10px;
    background-color: #D9D9D9;
    border: none;
    font-size: 3vw; color: #000000;
    outline: none;
    border-radius: 2vw;
}
.phone-input-area label{
    position: absolute; left: 1vw; top: 1vw;
    font-size: 3vw; color: #999;
    transition: all .5s ease;
}
.phone-input-area label.warning{
    color:red !important;
    animation: waring .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning{
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.phone-input-area input:focus + label,
.phone-input-area input:valid + label {
    top: -2px;
    font-size: 2vw; color: #7CAB75;
}
.phone-input-area button{
    width: 27%; height: 7vw;
    font-size: 2.5vw;
    font-weight: bold;
    color: #D9D9D9;
    border: none;
    background: #7CAB75;
    border-radius: 6px;
    position: absolute;
    left: 62vw;
    cursor: pointer;
}


.Certified{
    width: 80vw; position: relative;
    margin-top: 4vw;
}
.Certified:first-child {margin-top: 0;}
.Certified input{
    width: 105%; height: 7vw;
    padding: 20px 10px 10px;
    background-color: #D9D9D9;
    border: none;
    font-size: 3vw; color: #000000;
    outline: none;
    border-radius: 2vw;
}
.Certified label{
    position: absolute; left: 1vw; top: 1vw;
    font-size: 3vw; color: #999;
    transition: all .5s ease;
}
.Certified label.warning{
    color:red !important;
    animation: waring .3s ease;
    animation-iteration-count: 3;
}
@keyframes warning{
    0% {transform: translateX(-8px);}
    25% {transform: translateX(8px);}
    50% {transform: translateX(-8px);}
    75% {transform: translateX(8px);}
}
.Certified input:focus + label,
.Certified input:valid + label {
    top: -2px;
    font-size: 2vw; color: #7CAB75;
}


.btn-register{margin-top: 30px;}
.btn-register button{
    width: 105%; height: 7vw;
    font-size: 3vw;
    font-weight: bold;
    color: #D9D9D9;
    border: none;
    background: #7CAB75;
    border-radius: 6px;
    cursor: pointer;
}