<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>모집글 결과 화면</title>
</head>
<body>

<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>a | </th>
                <th>제목 | </th>
                <th>글 노출 거리 제한 | </th>
                <th>카테고리 | </th>
                <th>인원 수 | </th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="mozip : ${mozips}"> <!-- member 객체 안에 model로 넘어온 members 넣어줌-->
                <td th:text="${member.id}"></td> <!-- each로 list에 저장된 멤버들을 member에 순서대로 대입 반복 처리 -->
                <td th:text="${member.title}"></td> <!-- each로 list에 저장된 멤버들을 member에 순서대로 대입 반복 처리 -->
                <td th:text="${member.distanceLimit}"></td>
                <td th:text="${member.category}"></td>
                <td th:text="${member.people}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->


</body>
</html>