<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="/css/main_page.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<link rel="preconnect" href="https://fonts.googleapis.com"> <!--  <p> 폰트 적용 -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">

<body>
<div class="main">
  <div class="topper">
    <!-- 로그인 부분 -->
    <div class="login">
      <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
      <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
      <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
    </div>
  </div>
  <!-- 헤더 부분 -->
  <div class="header">
    <!-- CO-ORDER 제목 부분 -->
    <div class="logo-img">
      <!--            <a href="메인화면 링크" style="color: #7CAB75">CO-OR</a>-->
      <img class="logo" src="images/COOR2.png">
      <p>ALL 📒 POST </p>
    </div>
    <!-- 주소 입력 부분 -->
    <div class="address">
      <button id="loc_btn" type="button" name="loc_btn" onclick="getCurrentPosition()">
        <img class="gps" src="images/GPS.png">
      </button>
      <input id="address_input" type="text" name="address" required placeholder=" 주소 찾기를 눌러 검색하세요." readonly>
      <input id="find_address" type="button" onclick="DaumPostcode()" value="주소 찾기">
      <input id="address_input_commit" type="button" onclick="Address_commit()" value="완료">
    </div>
    <!-- 프로필 -->
    <div class="profile">
      <button id="profile_btn" type="button" onclick="profile_btn()">
        <img src="images/profile.png" height="40px" width="40px">
      </button>
      <div id="layer-header-profile">
        <div class="header-profile-direct">
          <dl class="header-member-direct__information">
            <div class="profile-nickname" th:text="${nickname}"></div>
            <input type="button" id="profile_btn_btn" onclick="myPage()" value="마이페이지"></input>
            <dd>ㅇㅇ</dd>
            <dd>ㅇㅇ</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
<!-- 다음 주소 찾기 API -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
        function DaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.getElementById('address_input').value = data.address;
                }
            }).open();
        }
    </script>
</script>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="/js/main_page.js"></script>
</body>

</html>