    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="mypage.css">
</head>

<link rel="preconnect" href="https://fonts.googleapis.com"> <!--  <p> 폰트 적용 -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">

<body>
    <div class="main">
        <!-- 헤더 부분 -->
        <div class="topper">
            <!-- 로그인 부분 -->
            <div class="login">
                <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
                <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
                <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
            </div>
        </div>
        <!-- 헤더 부분 -->
        <div class="header">
            <!-- CO-ORDER 제목 부분 -->
            <div class="logo-img">
                <!--            <a href="메인화면 링크" style="color: #7CAB75">CO-OR</a>-->
                <img class="logo" src="images/COOR2.png">
                <p>ALL 📒 POST </p>
            </div>
            <div id="header-bell" class="header-bell">
                <span class="bell">
                    <img src="images/bell.png" style="width : 25px; height : 25px;" alt="">
                </span>
            </div>
            <div id="header-profile" class="header-profile">
                <a class="header-user">
                    <span class="user-picture">
                        <img src="images/profile.png" height="50px" width="50px">
                    </span>
                    <span class="user-name" th:text="${nickname}">
                        김윤준
                    </span>
                    <span class="header-arrow">
                        <img src="https://buts.co.kr/thema/Buts/colorset/Basic/img/mymenu-arrow.png" alt="">
                    </span>
                </a>
                <div id="layer-header-profile" class="layer-header-profile" style="display : none;">
                    <div class="block block-name">
                        <div class="profile-name" th:text="${nickname}">
                            김윤준
                        </div>
                        <div class="buttons">
                            <a href="#">파티관리</a>
                        </div>
                    </div>
                    <!--                    <div class="header-profile-direct">-->
                    <!--                        <dl class="header-member-direct__information">-->
                    <!--                            <div class="profile-nickname" th:text="${nickname}"></div>-->
                    <!--                            <input type="button" id="profile_btn_btn" onclick="myPage()" value="마이페이지"></input>-->
                    <!--                            <dd>ㅇㅇ</dd>-->
                    <!--                            <dd>ㅇㅇ</dd>-->
                    <!--                        </dl>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
        <!-- 개인정보 수정 칸 -->
        <div class="body_title">
            MyPage
        </div>
        <div class="body">
            <div class="board">
                <div class="h2">계좌 잔액</div>
                <div class="form-round balance">
                    <a id="a_balance">24858239</a>
                </div>
                <div class="h3">계좌 정보</div>
                <div class="form-round signup">
                    <ul class="form-list">
                        <li>
                            <span class="subject">ㆍ 계좌 번호</span>
                            <div class="account_show_div">
                                <div class="bank_name">
                                    농협
                                </div>
                                <div class="account_num">
                                    132124124124
                                </div>
                            </div>
                            
                        </li>
                        <li>
                            <span class="subject"></span>
                            <button type="button" class="modify-btn" id="modify_ac_btn" onclick="modify_account_btn()">
                                계좌 변경
                            </button>
                        </li>
                        <div class="modify-form-round" id="modify_account_form">
                            <ul class="form-list">
                                <li>
                                    <span class="subject">ㆍ 신규 계좌</span>
                                    <input type="text" value="" id="modified_ac_1" class="form-control input-sm"
                                        required="" placeholder="신규 계좌" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='신규 계좌'" size="10" maxlength="20">
                                </li>
                                <li>
                                    <span class="subject">ㆍ 신규 계좌 재 입력</span>
                                    <input type="text" value="" id="modified_pw-2" class="form-control input-sm"
                                        required="" placeholder="신규 계좌 재 입력" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='신규 계좌 재 입력'" size="10" maxlength="20">
                                </li>
                                <div class="modify_form">
                                    <button class="modify_btn_btn cancel-btn" id="ac_modify_cancel_btn"
                                        type="button">취소</button>
                                    <button class="modify_btn_btn commit-btn" id="ac_modify_submit"
                                        type="submit">완료</button>
                                </div>
                            </ul>
                        </div>
                    </ul>
                </div>

                <div class="h3">아이디/비밀번호</div>
                <div class="form-round signup">
                    <ul class="form-list">
                        <li>
                            <span class="subject">ㆍ 아이디</span>
                            <input type="text" name="mb_id" value="(현재 아이디 값)" id="reg_mb_id" readonly=""
                                placeholder="아이디" minlength="3" maxlength="20">
                        </li>
                        <li>
                            <span class="subject">ㆍ 비밀번호</span>
                            <button type="button" class="modify-btn" id="modify_pw_btn" onclick="modify_pw_btn()">
                                비밀번호 변경
                            </button>
                        </li>
                        <div class="modify-form-round" id="modify_password_form">
                            <ul class="form-list">
                                <li>
                                    <span class="subject">ㆍ 현재 비밀번호</span>
                                    <input type="password" value="" id="previous_pw" class="form-control input-sm"
                                        required="" placeholder="현재 비밀번호" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='현재 비밀번호'" size="10" maxlength="20">
                                </li>
                                <li>
                                    <span class="subject">ㆍ 신규 비밀번호</span>
                                    <input type="password" value="" id="modified_pw_1" class="form-control input-sm"
                                        required="" placeholder="신규 비밀번호" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='신규 비밀번호'" size="10" maxlength="20">
                                </li>
                                <li>
                                    <span class="subject">ㆍ 신규 비밀번호 재 입력</span>
                                    <input type="password" value="" id="modified_pw-2" class="form-control input-sm"
                                        required="" placeholder="신규 비밀번호 재 입력" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='신규 비밀번호 재 입력'" size="10" maxlength="20">
                                </li>
                                <div class="modify_form">
                                    <button class="modify_btn_btn cancel-btn" id="pw_modify_cancel_btn"
                                        type="button">취소</button>
                                    <button class="modify_btn_btn commit-btn" id="pw_modify_submit"
                                        type="submit">완료</button>
                                </div>
                            </ul>
                        </div>
                    </ul>
                </div>
                <div class="h3">내 정보</div>
                <div class="form-round signup">
                    <ul class="form-list">
                        <li>
                            <span class="subject">ㆍ 닉네임</span>
                            <button type="button" class="modify-btn" id="modify_nickname_btn"
                                onclick="modify_nickname_btn()">
                                닉네임 변경
                            </button>
                        </li>
                        <div class="modify-form-round" id="modify_nickname_form">
                            <ul class="form-list">
                                <li>
                                    <span class="subject">ㆍ 닉네임 수정</span>
                                    <input type="text" value="" id="new_nickname" class="form-control input-sm"
                                        required="" placeholder="닉네임" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='닉네임'" size="10" maxlength="20">
                                </li>
                                <div class="modify_form">
                                    <button class="modify_btn_btn cancel-btn" id="nickname_modify_cancel_btn"
                                        type="button">취소</button>
                                    <button class="modify_btn_btn commit-btn" id="nickname_modify_submit"
                                        type="submit">완료</button>
                                </div>
                            </ul>
                        </div>
                        <li>
                            <span class="subject">ㆍ 휴대폰 번호</span>
                            <input type="text" name="mb_hp" value="(현재 휴대폰 번호 값)" id="reg_mb_hp" readonly="" required=""
                                placeholder="휴대폰 번호" maxlength="20">
                        </li>
                        <li>
                            <span class="subject">ㆍ 프로필 사진</span>
                            <button type="button" class="modify-btn" id="modify_profile_image_btn"
                                onclick="modify_profile_image_btn()">
                                프로필 사진 변경
                            </button>
                        </li>
                        <div class="modify-form-round" id="modify_profile_image_form">
                            <ul class="form-list">
                                <li>
                                    <span class="subject">ㆍ 프로필 사진 변경</span>
                                    <input type="file">
                                </li>
                                <div class="modify_form">
                                    <button class="modify_btn_btn cancel-btn" id="profile_image_modify_cancel_btn"
                                        type="button">취소</button>
                                    <button class="modify_btn_btn commit-btn" id="profile_image_modify_submit"
                                        type="submit">완료</button>
                                </div>
                            </ul>
                        </div>
                    </ul>
                </div>
                <div class="h3">주소</div>
                <div class="form-round signup">
                    <ul class="form-list">
                        <li>
                            <span class="subject">ㆍ 주소</span>
                            <input type="text" value="(현재 주소)" id="div_account" readonly="" placeholder="계좌"
                                minlength="3" maxlength="20">
                        </li>
                        <li>
                            <span class="subject"></span>
                            <button type="button" class="modify-btn" id="modify_ac_btn" onclick="modify_address_btn()">
                                주소 변경
                            </button>
                        </li>
                        <div class="modify-form-round" id="modify_address_form">
                            <ul class="form-list">
                                <li>
                                    <span class="subject">ㆍ 신규 주소</span>
                                    <div class="address_div">
                                        <input type="text" value="" id="modified_ad" class="form-control input-sm"
                                        required="" placeholder="주소" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='주소'" maxlength="20" readonly=""> 
                                        <button type="button" id="find_address">주소 찾기</button>
                                    </div>
                                </li>
                                <li>
                                    <div class="address_div">
                                        <input type="text" value="" id="modified_ad_detail" class="form-control input-sm"
                                        required="" placeholder="상세 주소" onfocus="this.placeholder=''"
                                        onblur="this.placeholder='상세 주소'" maxlength="20">
                                        <div id="ex1"></div>
                                    </div>
                                </li>
                                </li>
                                <div class="modify_form">
                                    <button class="modify_btn_btn cancel-btn" id="ad_modify_cancel_btn"
                                        type="button">취소</button>
                                    <button class="modify_btn_btn commit-btn" id="ad_modify_submit"
                                        type="submit">완료</button>
                                </div>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="mypage.js"></script>
    <script src="modify.js"></script>
</body>

</html>