@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center; /* 아이템 수직방향 생성 (기본값 : 수평) */
    flex-direction: column;
    background-color: #F0F0F0;
    background-size: cover;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: absolute;
    overflow: hidden;
    width: 500px; /* 박스 크기 */
    max-width: 100%;
    min-height: 300px;
    -webkit-transition: width 1s, height 2s, background-color 2s;
    transition: width 1s, height 2s, background-color 2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 960px) {
    .container {
        width: 100%;
    }
}

.form-container {
  position: absolute; /* 상위 div에 position : relative으로 섧정하고 하위에서 absolute 설정하면
                         하위에서 지정한 범위 안에서만 상대적인 위치를 가질 수 있다. */
  display: flex;
  align-items: center;
  justify-content: top;
  flex-direction: column; /* 세로 정렬 */
  padding-top: 53px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.find-account-form {position: relative; z-index: 2;}
.find-account-form h1{
    font-size: 60px; color: #fff;
    text-align: center;
    margin-bottom: 10px;
}
.phone {
    width: 300px; position: relative;
    margin-top: 10px;
    display: inline-block;
    white-space: nowrap;
}
.phone input {
    width: 18%;
    padding: 5px 5px 5px;
    background-color: #D9D9D9;
    border: none;
    font-size: 20px; color: #000000;
    outline: none;
    border-radius: 6px;
    text-align: center;
}
#phone1 {
    width: 18%;
}

#phone2 {
    width: 20%;
}

#phone3 {
    width: 20%;
}
#auth-button{
    width: 35%; height: 33px;
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: #7CAB75;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.7;
}
/* 인증번호 확인 칸 */
.auth-check{
    display: none;
    width: 300px; position: relative;
    margin-top: 10px;
    white-space: nowrap;
}
#auth-number {
    width: 65%;
    padding: 5px 5px 5px;
    background-color: #D9D9D9;
    border: none;
    font-size: 20px; color: #000000;
    outline: none;
    border-radius: 6px;
    text-align: center;
}
#completion {
    width: 35%; height: 33px;
    margin-left: 10px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: #7CAB75;
    border-radius: 3px;
    cursor: pointer;
}
