* {margin: 0; padding: 0; box-sizing: border-box;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #FFFFFF;
    line-height: 1.6;
    display: block;
}
a{
    color: inherit; /* 글자 색생은 부모로부터 상속 */
    text-decoration: none;
    padding-left : 10px;
}
li {
    list-style: non; 
    /* list 생성시 나오는 '-' 마크 제거 */
}
.main{
    position: relative;
}
.header{
    position: relative;
    width: 100%;
    height: 100%;

}
.login{
    position: relative;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    white-space : nowrap;
    z-index: 1;
}
.name{
    position: relative;
    top: 14px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.header-menu{
    display: flex !important;
    align-items: stretch !important;
    flex-wrap: nowrap !important;
    height: 100% !important;
    margin-top : 30px;
}

.menu {
    -webkit-box-flex: 1 !important;
    flex-grow: 1 !important; /* 남는 행 여백을 아이템을 분배해서 채움 1:1:0 */
    flex-shrink: 2 !important; /*아이템 크기가 틀을 넘어가면 아이템들의 크기를 각 shrink 비율에 맞기 줄임 */
    width: 100% !important;
    display: flex !important;
    -webkit-box-align: stretch !important; /*  속성을 적용하면, item요소들의 높이가 자동으로 늘어나서 수직 축에 맞추어집니다 */
    align-items: stretch !important;
    justify-content: flex-start !important;
    flex-wrap: nowrap !important;
}

.address-search-container{
    flex-grow: 2 !important;
    flex-shrink: 1 !important;
    display: flex !important;
    width: 100%;
    -webkit-box-align: center !important;
   align-items: center !important;
   -webkit-box-pack: center;
   justify-content : center; /* 중앙정렬 */
}

.address-div{
   display: flex !important;
   width: 50%;

}

.addrBefore { /* 주소 검색창 오른쪽 색깔나게 하기 */
    position:relative;
}

.addrBefore:before {
    left: -5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.addrBefore:before{
    content: "";
    height: 30px;
    width: 5px;
    background-color: #7CAB75;
    position: absolute;
    top: 0;
}

.address-input {
   display: flex !important;
   height: 30px;
   width: 100%;
   border : none;
   border-radius: 5px 0 0 5px;
   background-color : #F0F0F0;
}

.button-div {
    position : relative;
    width : 10%;
    border-radius: 0 6px 6px 0;
    background-color : #7CAB75;
}

.address-button {
    position : absolute;
    width : 90%;
    height : 100%;
    border : none;
    background-color : #7CAB75;
    color : #FFF;
    cursor : pointer;
    z-index = 100;
}


img {
  z-index = 0;
  position : absolute;
  color : #FFF;
  width: 30%;
  top: 25%;
  right: 18px;
  cursor : pointer;
}






.search{
    display: flex !important;
    flex-grow: 1 !important;
    flex-shrink: 2 !important;
    width: 100% !important;
    text-align: right;
}

#search_text{
    height: 25px;
    left: 100px;
}



.board{
    position: relative;
    top: 10px;
    width: 100%;
    height: 450px;
    border: 1px solid #D9D9D9;
    background-color: #F0F0F0;
    border-radius: 10px;
    text-align: center;
}
.number {
    top: 380px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.number li {
    display: inline-block;
}

.number li a {
    display: block; 
    width: 40px;
    /* text-align이 위로 올라간다 */
    line-height: 40px;
    border-radius: 10px;
    margin: 3px;
    margin-top: 20px;
    box-shadow: 0 5px 10px #f1f1f1;
}

.number li a.active {
    background-color: #D9D9D9;
}

.board div {
    margin-top: 10px;
    border-bottom: 1px solid #e6e6e6;
}

.board div div {
    display: inline-block;
    padding: 15px 10px 15px 10px;
    margin: 0;
    border: none;
}

.board .title {
    width: 70%;
    text-align: left;
}