* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  padding: 199px 0; /*header가 스크롤 해도 고정되게 하고 바디를 맞출려면 이거 써줘야 함. */
  font-family: "Noto Sans KR", sans-serif;
  background-color: #ffffff;
  line-height: 1.6;
  display: block;
}

a {
  color: inherit;
  /* ê¸€ìž ìƒ‰ìƒì€ ë¶€ëª¨ë¡œë¶€í„° ìƒì† */
  text-decoration: none;
}

input:focus {
  outline: none;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.topper {
    position: absolute;
    z-index: 2;
    top: -201px;
    width: 100%;
    height: 37px;
    background-color: #c3d3c5;
    border-bottom: 1px solid #b0cbba6b;
}

.header {
  position: absolute;
  z-index: 1;
  top: 35px;
  border-bottom: solid 1px #1a6d1978;
  background-color : #cadbca;
  position: fixed;
  width: 100%;
  height: 167px;
  overflow: visible;
  /*div ë°•ìŠ¤ ë°”ê¹¥ìœ¼ë¡œ ì‚ì ¸ë‚˜ì™€ë„ í‘œì‹œ*/
}

.logo {
  width : 300px;

}

.fixed { /* 스크롤 할 시 header를 top0으로 최상단에 고정하기 위해 */
  position: fixed;
  top: 0;
  width: 100%;
}

.login {
  word-spacing : 21px;
  position: absolute;
  top: 10px;
  right: 20px;
  width: 100%;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  white-space: nowrap;
  z-index: 1;
}

.v-bar::after {
    content: '';
    position: relative;
    top: 50%;
    right: -13px;
    height: 12px;
    margin-top: -6px;
    border-left: 1px solid #c0c0c06b;
}

.name {
  position: absolute;
  top: -13px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.address {
  position: relative;
  top: 105px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  /*ì¤„ë°”ê¿ˆ ë°©ì§€*/
  max-width: 600px;
  margin: 0 auto;
}

.address #loc_btn {
  position: relative;
  top: 11px;
  left: 5px;
  width: 30px;
  height: 30px;
  font-size: 14px;
  border: none;
  background-color: #d9d9d9;
  display: inline-block;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.address #loc_btn:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.address #address_input {
  position: relative;
  height: 30px;
  width: 40%;
  border: none;
  background-color: #d9d9d9;
  color: black;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.address #find_address {
  position: relative;
  top: 2px;
  right: 6px;
  width: 12%;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #7cab75;
  color: white;
  border: none;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.address #find_address:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.address #address_input_commit {
  position: relative;
  top: 2px;
  right: 5px;
  width: 6%;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #7cab75;
  color: white;
  border: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.address #address_input_commit:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.profile {
  position: absolute;
  top: 99px;
  right: 20px;
  text-align: center;
  white-space: nowrap;
  /*ì¤„ë°”ê¿ˆ ë°©ì§€*/
  z-index: 3;
}

/*í”„ë¡œí•„ ë²„íŠ¼*/
#profile_btn {
  position: relative;
  top: 11px;
  width: 40px;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #f0f0f0;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

/*í”„ë¡œí•„ í´ë¦­ì‹œ í‘œì‹œë˜ëŠ” ì°½*/
#layer-header-profile {
  display: none;
  position: absolute;
  top: 130%;
  left: -35px;
  box-sizing: border-box;
  background-color: #bfbfbf;
  font-size: 14px;
  transform: translate3d(-50%, 0, 0);
  border-radius: 10px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.header-profile-direct {
  z-index: 1;
  width: 150px;
  padding: 15px;
  font-size: 15px;
}

#profile_btn_btn {
  top: 2px;
  width: 100%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  background-color: #d9d9d9;
  color: #656565;
  border: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  z-index: 3;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
}
#profile_btn_btn:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.board {
  margin : auto;
  position: relative;
  width: 85%;
  /*top: 20%;*/
  /* height: 500px; */
  /* border: 1px solid #d9d9d9; */
  background-color: #f0f0f0;
  border-radius: 10px;
  /*overflow: auto;        ê²Œì‹œê¸€ íƒ€ìž„ë¦¬í”„ë¡œ ë°›ì•„ì™€ì„œ ì§€ì›Œì¤Œ*/
  z-index: 0;
  /* box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3); */
}

.ad{
    text-align: center;
    padding: 40px 0px 15px;
}

.ad-img {
  width: 84%;
}

.search-list {
  padding: 15px 0px 10px 15px;
  position: relative;
  text-align: right;
  width: 92.3%;
  z-index: 1;
}

.search-list #search_list {
  border: none;
  height: 24px;
  width: 20%;
  background-color: #d9d9d9;
  color: black;
  z-index: 1;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}

.search-list #search_btn {
  position: relative;
  width: 4%;
  height: 24px;
  right: 6px;
  top: 2px;
  font-size: 14px;
  font-weight: bold;
  background-color: #7cab75;
  color: white;
  border: none;
  display: inline-block;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.search-list #search_btn:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.board .content-list {
  display: none;
  margin: 10px;
  border-bottom: 1px solid #e6e6e6;
  font-weight: bold;
  background-color: #d9d9d9;
  color: #656565;
  border-radius: 4px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.board .content-list:hover {
  opacity: 0.7;
}

.board .content-list div {
  display: inline-block;
  text-align: center;
  padding: 15px 10px 15px 10px;
  border: none;
}

.board .content-list .participant_num {
  width: 10%;
}

.board .content-list .food {
  width: 10%;
}

.board .content-list .title {
  width: 55%;
  text-align: left;
}

.board .content-list .writer {
  width: 10%;
}

.board .content-list .time {
  width: 10%;
}

.make-content {
  position: fixed; /* í™”ë©´ ì˜¤ë¥¸ìª½ ì•„ëž˜ì— ê³ ì • divì—ë§Œ ê°€ëŠ¥ , ë¶€ëª¨ divê°€ relativeì—¬ì•¼ í•¨*/
  bottom : 0;
  right : 0;
  width: 15%;
  text-align: right;
  white-space: nowrap;
  /*ì¤„ë°”ê¿ˆ ë°©ì§€*/
}

.make-content #createOpen {
  width: 60%;
  height: 45px;
  margin: 23px 23px;
  font-size: 15px;
  font-weight: bold;
  background-color: #7cab75;
  color: #f0f0f0;
  border: none;
  display: inline-block;
  border-radius: 35px;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.make-content #createOpen:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.board .load-btn {
  text-align: center;
  margin-bottom: 10px;
}

.board .load-btn #load_btn {
  width: 10%;
  height: 30px;
  font-size: 15px;
  font-weight: bold;
  background-color: #7cab75;
  color: #f0f0f0;
  border: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);
}
.board .load-btn #load_btn:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/* ëª¨ì§‘ê¸€ í´ë¦­ì‹œ ìž…ìž¥ í™•ì¸ ëª¨ë‹¬ì°½ */
.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);

  /*ìˆ¨ê¸°ê¸°*/
  z-index: -1;
  opacity: 0;
}

.show {
  opacity: 1;
  z-index: 1000;
  transition: all 0.5s;
}

.modal-window {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

  width: 200px;
  height: 100px;

  transform: translate(-50%, -40%);
}

.show .modal-popup {
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  display: inline-block;
  font-weight: bold;
  color: #272727;
  background-color: #e6e6e6;
  border-radius: 6px;
  text-align: center;
}

.modal-popup .modal-btn {
  position: relative;
  top: 20px;
}

.modal-popup .modal-btn .modal_btn {
  cursor: pointer;
  width: 30%;
  height: 20px;
  margin: 10px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
  display: inline-block;
}
.modal-popup .modal-btn .modal_btn:hover {
  box-shadow: inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

/* ëª¨ì§‘ê¸€ ìƒì„± css */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: #f0f0f0;
  background-size: cover;
}

.Register {
  position: relative;
  z-index: 2;
}

.Register h1 {
  font-size: 200%;
  color: #7cab75;
  text-align: center;
  margin-bottom: 5px;
  white-space: nowrap;
}

/* ìƒì„± ì°½ì— ëŒ€í•œ css
/* ìƒì„± ì°½ì„ ê°ìŒ€ë°•ìŠ¤ì˜ css */
.modal {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  /* ë°°ê²½ìƒ‰ê³¼ íˆ¬ëª…ë„ë¡œ ì‚´ì§ ì–´ë‘¡ì§€ë§Œ íˆ¬ëª…í•œ ë°°ê²½
  í—ˆê³µì— ë¶• ë– ìžˆëŠ” ëŠë‚Œì„ ì£¼ê³  ì‹¶ìœ¼ë©´ ì•ˆë„£ì–´ë„ ë¬´ë°© */
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  /* //ì´ë²¤íŠ¸ê°€ ë°œìƒí•  ë•Œ ë„ìš°ê¸° ìœ„í•´ ìˆ¨ê¹€
  //ì²˜ìŒë¶€í„° ë³´ì´ê²Œ í•˜ëŠ” ìƒí™©ì´ë¼ë©´ display:flex; */

  padding: 15px;
}
/* ëª¸ì²´ css */
.popup {
  position : relative;
  margin-top: 100px;
  width: 100%;
  height: 45%;
  max-width: 600px;
  border-radius: 10px;
  overflow: visible;
  background-color: #464f66;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
}

/* ë¡œê³  ì˜ì—­ css */
.m_head {
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ë³¸ë¬¸ css */
.m_body {
  /* ëª¸í†µ */
    position: absolute;
    border-radius: 4px;
    width: 98%;
    top: 15%;
    height: 70%;
    margin-left: 6px;
    /* margin: unset; */
    box-shadow: inset 0px 1px 13px 3px rgb(77, 71, 71);
    background-color: #ffffff;
  /* ì»¨í…ì¸  ì˜ì—­ì˜ ë°°ê²½ìƒ‰ */
}

.body-content {
  /* ëª¸í†µ ë‚´ë¶€ ì»¨í…ì¸  ì˜ì—­*/
  width: 100%;
  height: 10%;
  padding: 1px;
  /* ì¢Œìš°ì— ë‚´ìš©ì´ ë¶™ìœ¼ë©´ ë³´ê¸° ì•ˆì¢‹ê¸° ë•Œë¬¸ì— ê°„ê²© ë„ì›€*/
}

.mozip-h2 {
  color : #464f66;
}

.body-titlebox {
  /* ì»¨í…ì¸  íƒ€ì´í‹€ ì˜ì—­ */
  text-align: center;
  /* ì œëª© ì¤‘ì•™ì •ë ¬ */
  width: 100%;
  height: 10%;
  margin-bottom: 10px;
  /* ë‚´ìš©ê³¼ ê°„ê²© ì¡°ì • */
}

.body-contentbox {
  /* ì»¨í…ì¸  ë‚´ìš© ì˜ì—­ */
  align-items: center;
  width: 100%;
  height: 50%;
}

/* í‘¸í„° ì˜ì—­ */
.m_footer {
    position: absolute;
    width: 100%;
    height: 20%;
    margin-top: 15px;
    top: 83%;
}

.pop-btn {
  font-size : 16px;
  display: inline-flex;
  /* í•œì¤„ë¡œ ë‚˜ì—´í•˜ê¸° ìœ„í•œ inlineì†ì„±ê³¼ flexì†ì„± í˜¼í•© */
  width: 49%;
  height: 50%;
  justify-content: center;
  /* ìˆ˜í‰ì •ë ¬ */
  align-items: center;
  /* ìˆ˜ì§ì •ë ¬ */
  float: left;
  /* ì¢Œì¸¡ë°°ì¹˜ */
  color: #ffffff;
  /* ê¸€ìžìƒ‰ */
  cursor: pointer;
  /* ë§ˆìš°ìŠ¤ í¬ì¸í„° íš¨ê³¼ */
}

.pop-btn.create {
  border : none;
  background-color : transparent;
  border-right: 1px solid #393e4e;
  /* ì˜¤ë¥¸ìª½ ì¤„ */
}

/* ë‚´ìš©ì— ëŒ€í•œ css */
.input-area {
    width: 98%;
    position: relative;
    margin: auto;
    padding-top: 10px;
}

.input-area:first-child {
  margin-top: 0;
}

.input-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: #d9d9d9;
  border: none;
  font-size: 18px;
  color: #000000;
  outline: none;
  border-radius: 6px;
}

.input-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  color: #999;
  transition: all 0.5s ease;
}

.input-area label.warning {
  color: red !important;
  animation: waring 0.3s ease;
  animation-iteration-count: 3;
}

@keyframes warning {
  0% {
    transform: translateX(-8px);
  }

  25% {
    transform: translateX(8px);
  }

  50% {
    transform: translateX(-8px);
  }

  75% {
    transform: translateX(8px);
  }
}

.input-area input:focus + label,
.input-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #7cab75;
}

/* inputì°½ ê±°ë¦¬ì— í™”ì‚´í‘œ ì—†ì• ê¸° */
input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* selectbox css */

/* ìµìŠ¤í”Œë¡œì–´ ì ìš© */
select::-ms-expand {
  display: none;
}

/* css íƒ¬í”Œë¦¿ ì ìš©*/

/* ===== Resets and Housekeeping ===== */

/* ===== Horizontal Rule ===== */
.rule {
  border: none;
  height: 1.5px;
}

/* ===== Select Box ===== */
.sel {
  font-size: 7px;
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  width: 100px;
  background-color: transparent;
  position: absolute;
  cursor: auto;
}

.sel::before {
  position: absolute;
  font-family: "FontAwesome";
  font-size: 2px;
  color: #fff;
  right: 20px;
  top: calc(50% - 0.5em);
}

.sel.active::before {
  transform: rotateX(-180deg);
}

.sel__placeholder {
  display: block;
  font-family: "Quicksand";
  font-size: 2.3em;
  color: #838e95;
  padding: 0.2em 0.5em;
  text-align: left;
  pointer-events: none;
  user-select: none;
  visibility: visible;
}

.sel.active .sel__placeholder {
  visibility: hidden;
}

.sel__placeholder::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.2em 0.5em;
  content: attr(data-placeholder);
  visibility: hidden;
}

.sel.active .sel__placeholder::before {
  visibility: visible;
}

.sel__box {
  position: absolute;
  top: calc(100% + 4px);
  left: -4px;
  display: none;
  list-style-type: none;
  text-align: left;
  font-size: 1em;
  background-color: #fff;
  width: calc(100% + 8px);
  box-sizing: border-box;
}

.sel.active .sel__box {
  display: block;
  animation: fadeInUp 500ms;
}

.sel__box__options {
  display: list-item;
  font-family: "Quicksand";
  font-size: 1.5em;
  color: #838e95;
  padding: 0.5em 1em;
  user-select: none;
}

.sel__box__options::after {
  font-family: "FontAwesome";
  font-size: 0.5em;
  margin-left: 5px;
  display: none;
}

.sel__box__options.selected::after {
  display: inline;
}

.sel__box__options:hover {
  background-color: #ebedef;
}

/* ----- Select Box Black Panther ----- */
.sel {
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
}

.people {
    margin-top: -2px;
    left: 150px
}

.people .sel__box {
  left: -5px;
}

/* ===== Keyframes ===== */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ */

/* ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ã…¡ */
