<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="/css/chatroom/chat4.css?v=<%=System.currentTimeMillis()">
  <link rel="stylesheet" href="/css/chatroom/mobile_chat.css"> <!-- 모바일 시 채팅방 화면 css -->
  <!-- vscode용 ------------------------------------------------------------------>
  <link rel="stylesheet" href="../static/css/chatroom/chat4.css">
  <link rel="stylesheet" href="../static/css/chatroom/mobile_chat.css">
  <!-- --------------------------------------------------------------------- -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com"> <!--  <p> 폰트 적용 -->
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--  <p> 폰트 적용 -->
  <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> <!--  <p> 폰트 적용 -->
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap"
        rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap"
        rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap"
        rel="stylesheet">

  <!--  부트스트랩 보달 창 라이브러리-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- 다음 주소 찾기 API -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+x+G+0x5zq3kprS5Df7w7C2q4L+x+ME5Q4u7j3Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
          integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
          crossorigin="anonymous"></script>


  <!-- 네이버 지도 API 추가 -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
<!--채팅 페이지 입장 버튼 영역-->
<div id="chat-join" class="chat-join">
  <div class="header">
    <div class="join-back">
      <div id="back-button" class="back-button">
        <img src="/images/back.png" height="80px" width="80px">
      </div>
    </div>
    <div class="join-user">
        <span class="user-picture">
          <img class="picture" src="/images/profile/profile5.png" height="300px" width="300px">
        </span>
      <span id="user-name" class="user-name" th:text="${nickname}">
          김윤준
        </span>
    </div>
    <form id="main-join" class="main-join">
      <div class="user-join">
        <button type="submit" class="join-button"  onclick="menuList()">입장</button>
        <img class="join-button-picture" src="/images/join.png">
      </div>
    </form>
  </div>
  <div class="body-main">
    <div class="board">
      <p class="li-1">모집글 정보</p>
      <div class="boards">
        <div class="boards-left">
          <div class="board-title" th:text="${room.title}"></div>
          <div class="board-peoples">
            <p1>참가 인원</p1>
          </div>
          <div class="board-peoples-ficture"></div>
        </div>
        <div class="boards-right">
          <div class="boards-map">
            <div class="map_wrap" id="map_wrap">
              <div id="map_v3" class="map_div"></div>
              <div class="map_tit"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--채팅 페이지 영역-->
<div id="main">
  <div class="topper">
    <!-- 로그인 부분 -->
    <div class="login">
      <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
      <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
      <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
    </div>
  </div>
  <!-- 헤더 부분 -->
  <div class="header2">
    <!-- CO-ORDER 제목 부분 -->
    <div class="width-container">
      <div class="user-info">
        <div class="logo-img">
          <!--            <a href="메인화면 링크" style="color: #7CAB75">CO-OR</a>-->
          <img class="logo" src="/images/COOR2.png">
        </div>

        <div id="header-profile" class="header-profile">
          <a class="header-user">
              <span class="user-picture2">
                <img src="/images/profile/profile5.png" height="50px" width="50px">
              </span>
            <span class="bell">
                <img src="images/bell.png" style="width : 25px; height : 25px;" alt="">
              </span>
            <span class="user-name2" th:text="${nickname}"> 야왕이네
              </span>
            <span class="header-arrow">
                <img src="https://buts.co.kr/thema/Buts/colorset/Basic/img/mymenu-arrow.png" alt="">
              </span>
          </a>
          <div id="layer-header-profile" class="layer-header-profile" style="display : none;">
            <div class="block block-name">
              <div class="profile-name" th:text="${nickname}"> 야왕이네
              </div>
              <div class="buttons">
                <a href="#">파티관리</a>
              </div>
            </div>
            <!--                    <div class="header-profile-direct">-->
            <!--                        <dl class="header-member-direct__information">-->
            <!--                            <div class="profile-nickname" th:text="${nickname}"></div>-->
            <!--                            <input type="button" id="profile_btn_btn" onclick="myPage()" value="마이페이지"></input>-->
            <!--                            <dd>ㅇㅇ</dd>-->
            <!--                            <dd>ㅇㅇ</dd>-->
            <!--                        </dl>-->
            <!--                    </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- 주소 입력 부분 -->
    <div class="search-container">
      <div class="search">
        <button id="loc_btn" type="button" name="loc_btn" onclick="getCurrentPosition()">
          <img class="gps" src="images/search.png">
        </button>
        <input id="search_input" type="text" name="address" required placeholder="모집글 검색을 시작해보세요!">
        <div class="tag-container">
          <div class="tag real-time-text">
            <p class="tag search-tag-text">실시간 검색 태그</p>
          </div>
          <div class="tag real-time">
            #치킨 &nbsp;&nbsp;#포케 &nbsp;&nbsp;#마라탕
          </div>
        </div>
      </div>
      <ul>
        <li class="menu-li mozipPage">
          <a class="menu-a">전체 글</a>
        </li>
        <li class="menu-li categories">
          <a class="menu-a">카테고리</a>
        </li>
        <li class="menu-li myChat">
          <a class="menu-a">내 채팅</a>
        </li>
      </ul>

    </div>
    <!-- 프로필 -->

  </div>

  <div id="chat-page">
    <div class="chat-container">
      <div class="chat">
        <div class="chat-group">
          <div class="chat-header">
            <div class="chat-header-left">
                <span class="user-picture2">
                  <img src="images/profile/profile5.png" height="40px" width="40px">
                </span>
              <div id="user-list" class="user-list" style="display : none">
              </div>
            </div>
            <div class="chat-header-center">
              <div class="chat-header-center-group">
                <h2 th:text="${room.title}"></h2>
                <div class="connecting">offline</div>
              </div>
            </div>
            <div class="chat-header-right"><img src="images/Icon/menu_5259008.png" width="23px" height="23px"
                                                class="header-img">
            </div>
          </div>
          <div class="chat-left-right">
            <div class="chat-left">
              <ul id="messageArea">
                <!-- 여기에 이벤트 메시지 및 메시지(사용자 프로필, 이름) 이 socket.js에서 추가된다. -->
              </ul>
              <form id="messageForm" name="messageForm" nameForm="messageForm">
                <div class="form-group">
                  <div class="input-group clearfix">
                    <input type="text" id="message" placeholder="메시지를 입력 해보세요!" autocomplete="off" class="control"
                           data-listener-added_1008ea1e="true">
                    <button type="submit" class="primary">전송</button>
                  </div>
                  <div class="file-group">
                    <div id="menu">
                      <label for="file">
                        <div class="btn-upload">
                          <img src="images/picture.png" style="cursor:pointer;">
                        </div>
                      </label>
                      <input type="file" name="file" id="file" onchange="uploadFile(this)">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="chat-right">
              <div class="chat-menu">
                <img src="images/bell.png">
                <img src="images/icon/map.png" id="map_button" onclick="map_btn()">
                <img src="images/icon/Budget.png">
                <img id="basket" src="/images/icon/basket.png" onclick="basket()">
                <img src="images/icon/setting.png">
              </div>
              <img src="images/icon/log-out_5565735.png" class="out-img">
            </div>
            <div class="basket-view" style="display: none;"> <!-- 장바구니 -->
              <div class="basket-title">
                <div class="basket-title_topper">
                  <div class="basket-title_topper_back">
                    <img class="basket-title_topper_back_img" src="images/back.png" onClick="basket()"
                         style="cursor:pointer;">
                  </div>
                  <div class="basket-title_topper_text">
                    <p>메뉴를 추가해 보세요!</p>
                  </div>
                </div>
                <div class="basket-title_topper_text2">
                  <p>주문표</p>
                </div>
              </div>
                <div class="basket-list">

<!--                  <div class="basket-list-item">-->
<!--                    <div class="basket-list-header">-->
<!--                      <div class="food-name" th:text="${basket.product_name}"></div>-->
<!--                      <div class="cancle" href="javascript:void(0)" onclick="javascript:basket.delItem();">-->
<!--                        <img src="images/close.png">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="food-info">-->
<!--                      <div class="price" id="total_count_view" wfd-id="id4" th:text="${basket.price}"></div>-->
<!--                    </div>-->
<!--                    <div class="food-order-div">-->
<!--                      <a class="food-order">주문자 : </a>-->
<!--                      <div class="food-order-name" th:text="${basket.nickname}">야왕이네</div>-->
<!--                      <div class="food-info-update">-->
<!--                        <input type="button" value="-" id="moins" class="update-button" onclick="minus()">-->
<!--                        <input class="count_css" type="text" size="25" value="1" id="count" readonly="">-->
<!--                        <input type="button" value="+" id="plus" class="update-button" onclick="plus()">-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->

                </div>

              <div class="menu-bottom">
                <div class="totalPrice">
                  <span class="priceText"> 합계 :</span>
                  <span class="priceText" id="totalPrice">0원</span>
                </div>
                <div class="modify-menu">
                  <input id="modify_menu_btn" type="button" value="메뉴 수정" wfd-id="id11" href="#CreateMozipModal"
                         data-bs-toggle="modal" data-target="#CreateMozipModal">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 모집글 클릭시 모달창 보여줌 -->
<!--    메뉴 선택을 모달로 할거라 이거랑 css 겹쳐서 보류-->
<!--    <div class="modal fade" id="enterRoomModal" tabindex="-1" aria-labelledby="enterRoomModalLabel"  data-backdrop="static" aria-hidden="true">-->
<!--      <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <div class="modal-invite-text">-->
<!--              <p>채팅방에 초대하기</p>-->
<!--            </div>-->
<!--            <div class="modal-invite-content">-->
<!--              <div class="modal-invite-input">-->
<!--                <img class="user-search" src="/images/search.png">-->
<!--                <input type="text" placeholder="닉네임 검색">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <input class="modal-btn btn-access" id="join_btn"-->
<!--                   type="button" value="확인" data-bs-dismiss="modal">-->
<!--            <input class="modal-btn btn-back" id="modal_close_btn" type="button" data-bs-dismiss="modal" value="취소">-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


<!-- 메뉴 선택 모달창 -->
<div class="modal fade mozipCreate" id="CreateMozipModal" tabindex="-1" aria-labelledby="enterRoomModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="storeModal_header_topper">
        <div class="storeModal_header_topper_back" id="modal_close_beck" data-bs-dismiss="modal" >
          <img class="storeModal_header_topper_back_img" src="images/back.png" style="cursor:pointer;">
        </div>
        <div class="storeModal_header_topper_text">
          <p th:text="${room.store}"></p>
        </div>
      </div>
      <div class="menu-header">
        <div class="min_delivery">
          <div class="deliver_info">
            <div> 최소주문 </div>
            <div class="min_price"> 조회 중입니다. </div>
          </div>
          <div class="deliver_info">
            <div> 배달요금</div>
            <div class="delivery_fee"> 조회 중입니다. </div>
          </div>
        </div>
      </div>
      <div class="menu-body">
        <div class="loading-div">
          <div id="loading" class="loading">
          </div>
          <div> 로딩중 입니다. 잠시만 기다려 주세요!</div>
        </div>
      </div>
    </div>
  </div>
</div>



          <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
          <script src="/js/chatroom/chat3.js?v=<%=System.currentTimeMillis()"></script>
          <!-- Spring 서버 JS, CSS 적용 안될 시 경로 뒤에 ?v=<%=System.currentTimeMillis() -->

          <!-- vscode용 ------------------------------------------------------------------>
          <script src="/static/js/chatroom/chat3.js"></script>
          <!-- --------------------------------------------------------------------- -->

          <!-- Add Bootstrap JavaScript and its dependencies -->
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                  integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5+x+G+0x5zq3kprS5Df7w7C2q4L+x+ME5Q4u7j3Z"
                  crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
                  integrity="sha384-oBqDVmMz4fnFO9gybBud6b5sE1wnB7hRwKzVvdnP3DqwD6Y5h9Nl7gJgaxfY4WdE"
                  crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
                  integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
                  crossorigin="anonymous"></script>
          <!--WebSocket 스크립트-->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
          <!-- 예제 시작 -->
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
          <!-- http://localhost 에서 테스트 하시려면 cpw9RMOfkmb0qIa7Vz23 키를 사용해 보세요 -->

          <!-- 맵 v3 스크립트 -->
          <script src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=mn7cwsrvym"></script>

          <!-- 네이버 지도 API 관련 -->
          <style type="text/css">
    .map_wrap .map_div {
      box-sizing: border-box;
    }

    .map_wrap .map_tit {
      font-size: 12pt !important;
    }
  </style>
          <script>


          </script>

          <!-- 예제 종료 -->


</body>

</html>