<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
  <form action="/members/new" method="post">
    <div class="form-group">
      <input type="text" id="id" name="id" placeholder="id"></br>
      <input type="text" id="pw" name="pw" placeholder="pw"></br>
      <input type="text" id="pwcheck" name="pwcheck" placeholder="pw-check"></br>
      <input type="text" id="nickname" name="nickname" placeholder="nickname"></br>
      <input type="text" id="pnum" name="pnum" placeholder="pnum"></br>
    </div>
    <button type="submit">등록</button>
  </form>
</div> <!-- /container -->
</body>
</html>