<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<section class="login-form">
    <form action="">
        <div class="btn-register">
            <button type="button" class="Reg-btn" onClick="location.href='Register.html'">Register</button>
        </div>
    </form>
    <h1 style="color: #7CAB75" w>CO-ORDER</h1>
    <form action="">
        <div class="int-area">
            <input type="text" name="id" id="id" autocomplete="off" required>
            <label for="id">ID</label>
        </div>
        <div class="int-area">
            <input type="password" name="pw" id="pw" autocomplete="off" required>
            <label for="pw">PASSWORD</label>
        </div>
        <div class="btn-login">
            <button type="button" id="login-form-submit">Login</button>
        </div>
    </form>
    <div class="caption">
        <a href="find_account.html">Forgot Password?</a>
    </div>
</section>

<script src="/js/login.js"></script>
</body>
</html>