<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <script src="https://kit.fontawesome.com/eb076808b8.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/css/main_page.css?abcdd">
    <link rel="stylesheet" href="/css/main_page_mobile_header.css?abc">
    <!-- vscode 전용 경로 ---------------------------------------------------->
    <link rel="stylesheet" href="../static/css/main_page.css">
    <link rel="stylesheet" href="../static/css/main_page_mobile_header.css">
    <!-- ---------------------------------------------------------------------->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com"> <!--  <p> 폰트 적용 -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--  <p> 폰트 적용 -->
    <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <!--  <p> 폰트 적용 -->
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap"
        rel="stylesheet">

    <!-- 다음 주소 찾기 API -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="main">
        <div class="topper pc_topper" id="pc_topper">
            <!-- 로그인 부분 -->
            <div class="login">
                <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
                <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
                <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
            </div>
        </div>
        <!-- 모바일 화면 로고 -->
        <div class="moblie_logo">
            <img src="images/Icon/menu_reverse.png" class="mobile_header-img" id="header_show">
            <img class="logo mozipPage" src="images/COOR.png">
        </div>
        <!-- 헤더 부분 -->
        <div class="header2">
            <div class="topper">
                <!-- 로그인 부분 -->
                <div class="login">
                    <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
                    <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
                    <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
                </div>
            </div>
            <!-- CO-ORDER 제목 부분 -->
            <div class="width-container">
                <div class="user-info">
                    <div class="logo-img">
                        <!--            <a href="메인화면 링크" style="color: #7CAB75">CO-OR</a>-->
                        <img class="logo" src="images/COOR2.png">
                    </div>

                    <div id="header-profile" class="header-profile">
                        <a class="header-user">
                            <span class="user-picture2">
                                <img src="images/profile/profile5.png" height="50px" width="50px">
                            </span>
                            <span class="bell">
                                <img src="images/bell.png" style="width : 25px; height : 25px;" alt="">
                            </span>
                            <span class="user-name2" th:text="${nickname}"> 야왕이네
                            </span>
                            <span class="header-arrow">
                                <img src="https://buts.co.kr/thema/Buts/colorset/Basic/img/mymenu-arrow.png" alt="">
                            </span>
                        </a>

                        <div id="layer-header-profile" class="layer-header-profile" style="display : none;">
                            <div class="block block-name">
                                <div class="profile-name" th:text="${nickname}"> 야왕이네
                                </div>
                                <div class="buttons">
                                    <a href="mypage.html">마이페이지</a>
                                </div>
                                <br>
                                <div class="buttons">
                                    <a href="Payment_details.html">거래내역</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 주소 입력 부분 -->
            <div class="search-container">
                <div class="search">
                    <button id="loc_btn" type="button" name="loc_btn" onclick="getCurrentPosition()">
                        <img class="gps" src="images/search.png">
                    </button>
                    <input id="search_input" type="text" name="address" required placeholder="모집글 검색을 시작해보세요!">
                    <div class="tag-container">
                        <div class="tag real-time-text">
                            <p class="tag search-tag-text">실시간 검색 태그</p>
                        </div>
                        <div class="tag real-time">
                            #치킨 &nbsp;&nbsp;#포케 &nbsp;&nbsp;#마라탕
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="menu-li mozipPage">
                        <a class="menu-a">전체 글</a>
                    </li>
                    </li>
                    <li class="menu-li" onclick="myChat()">
                        <a class="menu-a">내 채팅</a>
                    </li>
                </ul>

            </div>
            <!-- 프로필 -->
        </div>

        <div class="width-main" id="header_close">
            <div class="main-flex">
                <div class="width-container-margin">
                    <div class="width-container">
                        <div class="width-header">
                            <div class="width-header-left" href="#CreateMozipModal" data-bs-toggle="modal"
                                data-target="#CreateMozipModal">
                                <button class="board-create-button">작성하기</button>
                            </div>
                            <div class="width-header-center">
                                <div class="header_rangeInput_div">
                                    <fieldset>
                                        <input id="header_rangeInput" class="range" type="range" min=0 max=3 value="2">
                                        <div class="rageInput-handle">
                                            <div class="handle"></div>
                                            <div class="handle"></div>
                                            <div class="handle handle-last"></div>
                                        </div>
                                        <div class="rageInput-handle-distinct">
                                            <div class="distinct">0m</div>
                                            <div class="distinct">100m</div>
                                            <div class="distinct">300m</div>
                                            <div class="distinct">500m</div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="width-header-right">
                                <button class="board-range" id="header_board_range_btn">노출거리</button>
                            </div>
                        </div>
                        <div class="swiper-container">
                            <div class="scroll-arrow">
                                <img src="images/arrow2.png">
                            </div>
                            <div class="category-container">
                                <div class="scroll-content">
                                    <div class="board-category" onclick="category_store_list('전체보기')">전체</div>
                                    <div class="board-category" onclick="category_store_list('1인분 주문')">1인분 주문</div>
                                    <div class="board-category" onclick="category_store_list('프랜차이즈')">프랜차이즈</div>
                                    <div class="board-category" onclick="category_store_list('치킨')">치킨</div>
                                    <div class="board-category" onclick="category_store_list('피자/양식')">피자/양식</div>
                                    <div class="board-category" onclick="category_store_list('중국집')">중국집</div>
                                    <div class="board-category" onclick="category_store_list('한식')">한식</div>
                                    <div class="board-category" onclick="category_store_list('일식/돈까스')">일식/돈까스</div>
                                    <div class="board-category" onclick="category_store_list('족발/보쌈')">족발/보쌈</div>
                                    <div class="board-category" onclick="category_store_list('야식')">야식</div>
                                    <div class="board-category" onclick="category_store_list('분식')">분식</div>
                                    <div class="board-category" onclick="category_store_list('카페/디저트')">카페/디저트</div>
                                </div>
                            </div>
                            <div class="scroll-arrow">
                                <img src="images/arrow.png">
                            </div>
                        </div>
                        <div class="board-main">
                            <div class="main-content">
                                <ul class="board-list">
                                    <th:block th:each="post : ${postList}">
                                        <li class="board" href="#enterRoomModal" data-bs-toggle="modal"
                                            data-target="#enterRoomModal" th:data-id="${post.id}"
                                            th:data-nickname="${nickname}" onclick="backdropDelete()">
                                            <div class="board-header">
                                                <div class="board-profile">
                                                    <img src="images/profile/profile4.png">
                                                </div>
                                                <div class="board-nickname" th:text="${post.nickname}"></div>
                                                <div class="board-time-div">
                                                    <span>·</span>
                                                    <div>
                                                        <img src="images/clock.png">
                                                    </div>
                                                    <div class="board-time"
                                                        th:text="${#temporals.format(post.create_Date, 'HH:mm')}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="board-body">
                                                <div class="board-title" th:text="${post.title}"><a href="#"></a></div>
                                            </div>
                                            <div class="board-footer">
                                                <div class="board-footer-left">
                                                    <a class="board-categories" th:text="${post.categories}"></a>
                                                    <div class="board-address" th:text="${post.store}">꾸브라꼬-의정부점</div>
                                                </div>
                                                <div class="board-footer-right">
                                                    <div class="board-footer-right">
                                                        <div class="status" th:text="${post.status}"></div>
                                                        <div class="board-peoples-img">
                                                            <img src="images/people2.png">
                                                        </div>
                                                        <div class="board-peoples"
                                                            th:text="${post.usercount} + '/' +${post.peoples}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </th:block>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 챗봇 div -->
                <div class="width-right">
                    <div class="chat-container">
                        <div class="chat_header">
                            <div class="storeModal_header_topper_text_chat">
                                <p style="font-size: 20px;">Chat bot</p>
                            </div>
                            <img class="storeModal_header_topper_back_img_chatbot" src="images/back.png" id="chat_close"
                                style="cursor:pointer;">
                        </div>
                        <div id="chat-messages"></div>
                        <div id="user-input">
                            <input type="text" placeholder="메시지를 입력하세요" onfocus="this.placeholder=''"
                                onblur="this.placeholder='메시지를 입력하세요'" />
                            <button>전송</button>
                        </div>
                    </div>
                </div>

                <div class="chat-img-area">
                    <img class="chat-img" src="images/chatbot.jpg" id="chat_show">
                </div>

            </div>
        </div>
    </div>

    <!-- 모집글 클릭시 모달창 보여줌 -->
    <div class="modal fade" id="enterRoomModal" tabindex="-1" aria-labelledby="enterRoomModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <img class="join-img" src="images/join.png">
                    <p class="join-icon">💡</p>
                    <p class="join-p">입장 하시겠습니까?</p>
                    <div class="enter_loading-div">
                        <div id="loading" class="loading"> </div>
                        <div> 로딩중 입니다. 잠시만 기다려 주세요!</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-access" id="join_btn" type="button" value="입장" data-bs-dismiss="modal"
                        onclick="enterRoom()">
                    <input class="btn btn-back" id="modal_close_btn" type="button" data-bs-dismiss="modal" value="취소">
                </div>
            </div>
        </div>
    </div>

    <!-- 모집글 생성 클릭시 모달창 보여줌 -->
    <div class="modal fade mozipCreate" id="CreateMozipModal" tabindex="-1" aria-labelledby="enterRoomModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="storeModal_header_topper">
                    <div class="storeModal_header_topper_back" id="modal_close_beck" data-bs-dismiss="modal">
                        <img class="storeModal_header_topper_back_img" src="images/back.png" onClick="closeStoreList()"
                            style="cursor:pointer;">
                    </div>
                    <div class="storeModal_header_topper_text">
                        <p>모집글을 만들어 보세요!</p>
                    </div>
                </div>
                <div class="mozipCreate-body">
                    <div class="mozipCreate-title">
                        <div class="mozipCreate-info">제목 </div>
                        <div class="search-box">
                            <input type="text" class="search-txt" name="search-txt">
                        </div>
                    </div>
                    <div class="mozipCreate-range">
                        <div class="mozipCreate-info">글 노출 거리 설정 </div>
                        <div class="input-area-range">
                            <fieldset>
                                <input id="rangeInput" class="range" type="range" min=0 max=3 value="2">
                                <div class="rageInput-handle">
                                    <div class="handle"></div>
                                    <div class="handle"></div>
                                    <div class="handle handle-last"></div>
                                </div>
                                <div class="rageInput-handle-distinct">
                                    <div class="distinct">0m</div>
                                    <div class="distinct">100m</div>
                                    <div class="distinct">300m</div>
                                    <div class="distinct">500m</div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="mozipCreate-category">
                        <div class="mozipCreate-info">카테고리 </div>
                        <div class="category">
                            <div class="categoty-content">
                                <div class="category-item">전체</div>
                                <div class="category-item">1인분 주문</div>
                                <div class="category-item">프랜차이즈</div>
                                <div class="category-item">치킨</div>
                                <div class="category-item">피자/양식</div>
                                <div class="category-item">중국집</div>
                                <div class="category-item">한식</div>
                                <div class="category-item">일식/돈까스</div>
                                <div class="category-item">족발/보쌈</div>
                                <div class="category-item">야식</div>
                                <div class="category-item">분식</div>
                                <div class="category-item">카페/디저트</div>
                            </div>
                        </div>
                    </div>
                    <div class="mozipCreate-storeName">
                        <div class="mozipCreate-info">가게 선택 </div>
                        <div class="storeName">
                            <input type="text" id="storeName-input" class="storeName-input" readonly>
                        </div>
                        <div class="storeName-select">
                            <button class="add_store" id="add_store" type="button">선택</button>
                        </div>
                    </div>
                    <div class="mozipCreate-people">
                        <div class="mozipCreate-info">
                            <div>인원 수 </div>
                            <div style="position : relative;font-size : 11px;right : 5px;top: 2px;"> ㆍ미선택시 2명으로 선택 됩니다.
                            </div>
                        </div>
                        <div class="people-range">
                            <div class="sel people">
                                <select id="people" required>
                                    <option class="option" value="" disabled>인원</option>
                                    <option class="option" value="2">2명</option>
                                    <option class="option" value="3">3명</option>
                                    <option class="option" value="4">4명</option>
                                </select>
                            </div>
                        </div>
                        <div class="people-range-select" onclick="createMozip()">
                            <button class="createMozip" id="createMozip" type="button">생성하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 가게선택 버튼 클릭시 가게 리스트 모달창 보여줌 -->
    <div class="storeModal">
        <div class="storeModal_content">
            <div class="storeModal_header">
                <div class="storeModal_header_topper">
                    <div class="storeModal_header_topper_back">
                        <img class="storeModal_header_topper_back_img" src="images/back.png" onClick="closeStoreList()"
                            style="cursor:pointer;">
                    </div>
                    <div class="storeModal_header_topper_text">
                        <p>가게를 선택해주세요!</p>
                    </div>
                </div>
                <div class="storeModal_header_search">
                    <div class="search-box">
                        <input type="text" class="search-txt" name="search-txt" placeholder="가게 이름을 입력해 주세요!">
                        <a class="search-btn" href="#">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                </div>
                <div class="storeModal_header_categories">
                    <div class="scroll-content">
                        <div class="content-item" onclick="category_store_list('전체보기')">전체</div>
                        <div class="content-item" onclick="category_store_list('1인분 주문')">1인분 주문</div>
                        <div class="content-item" onclick="category_store_list('프랜차이즈')">프랜차이즈</div>
                        <div class="content-item" onclick="category_store_list('치킨')">치킨</div>
                        <div class="content-item" onclick="category_store_list('피자/양식')">피자/양식</div>
                        <div class="content-item" onclick="category_store_list('중국집')">중국집</div>
                        <div class="content-item" onclick="category_store_list('한식')">한식</div>
                        <div class="content-item" onclick="category_store_list('일식/돈까스')">일식/돈까스</div>
                        <div class="content-item" onclick="category_store_list('족발/보쌈')">족발/보쌈</div>
                        <div class="content-item" onclick="category_store_list('야식')">야식</div>
                        <div class="content-item" onclick="category_store_list('분식')">분식</div>
                        <div class="content-item" onclick="category_store_list('카페/디저트')">카페/디저트</div>
                    </div>
                </div>
            </div>
            <!-- ---------------------------------------- -->
            <div class="loading-div">
                <div id="loading" class="loading">
                </div>
                <div> 로딩중 입니다. 잠시만 기다려 주세요!</div>
            </div>
            <div class="storeModal_body">
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">


    </script>
    <script src="/js/main_page/main_page.js?abcdefe"></script>
    <script src="/js/main_page/addStore.js?abcdegfe"></script>
    <!-- vscode 전용 경로 -------------------------------------------->
    <script src="../../../../apikey.js"></script>
    <script src="../static/js/main_page/main_page.js"></script>
    <script src="../static/js/main_page/addStore.js"></script>
    <!------------------------------------------------------------------>

</body>

</html>