<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="/static/css/main_page.css">
</head>

<body>
    <div class="main">
        <!-- 헤더 부분 -->
        <div class="header">
            <!-- 로그인 부분 -->
            <div class="login">
                <a href="로그인페이지 링크" style="color: #8E8E8E">로그아웃</a>
                <a href="로그인페이지 링크" style="color: #8E8E8E">도움말</a>
            </div>
            <!-- CO-ORDER 제목 부분 -->
            <div class="name">
                <a href="메인화면 링크" style="color: #7CAB75">CO-ORDER</a>
            </div>
            <!-- 주소 입력 부분 -->
            <div class="header-menu">
                <div class="menu">

                </div>
                <div class="address-search-container">
                    <!-- addrBefore는 주소 검색창 왼쪽 색 보이게 하기 위해 -->
                    <div class = "addrBefore address-div" id="address_input" type="text" name="address" required placeholder="">
                        <input class="address-input" id="address" type="text" name="address" required placeholder="">
                        <div class="button-div">
                            <input class="address-button" type="button" onclick="DaumPostcode()">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/icon/search.png">
                        </div>
                    </div>
                </div>
                <div class="search">
                    <input id="search_text" type="text" name="search" required placeholder="검색어를 입력해주세요">
                    <input type="button" onclick="search_button()" value="검색">
                </div>
            </div>
            <!-- 검색어 입력 부분 -->

        </div>
        <!-- 게시판 틀 -->
        <div class="board">
            <div class="content-list">
                <div class="title"><a href="view.html">게시판에 제목을 입력합니다.</a></div>
            </div>
            <div class="content-list">
                <div class="title"><a href="view.html">게시판에 제목을 입력합니다.</a></div>
            </div>
            <div class="content-list">
                <div class="title"><a href="view.html">게시판에 제목을 입력합니다.</a></div>
            </div>

            <ul class="number">
                <li><a href="#">&lt;</a></li>
                <li><a href="#" class="active">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">&gt;</a></li>
            </ul>
        </div>
    </div>
    <script src="main_page.js"></script>

    <!-- 다음 주소 찾기 API -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function DaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    document.getElementById('address_input').value = data.address;
                }
            }).open();
        }
    </script>
</body>

</html>