<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>거래 내역</title>

    <link rel="stylesheet" href="/css/Payment_details.css?ab">
    <!--    자바스크립트 경로-->
    <link rel="stylesheet" href="Payment_details.css">
</head>

<link rel="preconnect" href="https://fonts.googleapis.com"> <!--  <p> 폰트 적용 -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">

<body>
    <div class="main">
        <!-- 모바일 화면 로고 -->
        <div class="moblie_logo">
            <img src="/images/Icon/menu_reverse.png" class="mobile_header-img" id="header_show">
            <img class="logo" src="images/COOR.png">
        </div>
        <!-- 헤더 부분 -->
        <div class="header2">
            <div class="topper">
                <!-- 로그인 부분 -->
                <div class="login">
                    <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
                    <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
                    <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
                </div>
            </div>
            <!-- CO-ORDER 제목 부분 -->
            <div class="width-container">
                <div class="user-info">
                    <div class="logo-img">
                        <!--            <a href="메인화면 링크" style="color: #7CAB75">CO-OR</a>-->
                        <img class="logo" src="images/COOR2.png">
                    </div>

                    <div id="header-profile" class="header-profile">
                        <a class="header-user">
                          <span class="user-picture2">
                            <img src="/images/profile/profile2.png" height="50px" width="50px">
                          </span>
                          <span id="user-name" class="user-name" th:text="${nickname}">
                          </span>
                          <span class="header-arrow">
                            <img src="https://buts.co.kr/thema/Buts/colorset/Basic/img/mymenu-arrow.png" alt="">
                          </span>
                        </a>

                        <div id="layer-header-profile" class="layer-header-profile" style="display : none;">
                            <div class="block block-name">
                                <div class="profile-name" th:text="${nickname}"> 야왕이네
                                </div>
                                <div class="buttons">
                                    <a href="mypage.html">마이페이지</a>
                                </div>
                                <br>
                                <div class="buttons">
                                    <a href="Payment_details.html">거래내역</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- 주소 입력 부분 -->
            <div class="search-container">
                <div class="search">
                    <button id="loc_btn" type="button" name="loc_btn" onclick="getCurrentPosition()">
                        <img class="gps" src="images/search.png">
                    </button>
                    <input id="search_input" type="text" name="address" required placeholder="모집글 검색을 시작해보세요!">
                    <div class="tag-container">
                        <div class="tag real-time-text">
                            <p class="tag search-tag-text">실시간 검색 태그</p>
                        </div>
                        <div class="tag real-time">
                            #치킨 &nbsp;&nbsp;#포케 &nbsp;&nbsp;#마라탕
                        </div>
                    </div>
                </div>
                <ul>
                    <li class="menu-li mozipPage">
                        <a class="menu-a" href="main_page.html">전체 글</a>
                    </li>
                    </li>
                    <li class="menu-li" onclick="myChat()">
                        <a class="menu-a">내 채팅</a>
                    </li>
                </ul>

            </div>
            <!-- 프로필 -->
        </div>
        <!-- 거래 내역 -->
        <div class="body_title">
            거래내역 조회
        </div>
        <div class="body">
            <div class="board">
                <div class="board_board">
                    <!-- 거래 내역 리스트 div -->
                    <div class="payment_list">
                        <div class="pay_date">
                            2023-08-07
                        </div>
                        <div class="pay_title">
                            햄버거 먹을사람 모이셈 빨리빨리
                        </div>
                        <div class="pay_name">
                            치킨버거
                        </div>
                        <div class="pay_price">
                            8,000원
                        </div>
                        <br>
                        <div class="btn_div">
                            <div class="star-rating-btn">
                                <button class="payment_list_btn" id="star_rating_btn">호스트 평가</button>
                            </div>
                            <div class="pay-commit-btn">
                                <button class="payment_list_btn" id="pay_commit_btn">구매확정</button>
                            </div>
                        </div>
                    </div>
                    <div class="payment_list">
                        <div class="pay_date">
                            2023-08-07
                        </div>
                        <div class="pay_title">
                            방제목
                        </div>
                        <div class="pay_name">
                            치즈버거
                        </div>
                        <div class="pay_price">
                            8,000원
                        </div>
                        <div class="btn_div">
                            <div class="star-rating-btn">
                                <button class="payment_list_btn" id="star_rating_btn">호스트 평가</button>
                            </div>
                            <div class="pay-commit-btn">
                                <button class="payment_list_btn" id="pay_commit_btn">구매확정</button>
                            </div>
                        </div>
                    </div>
                    <div class="payment_list">
                        <div class="pay_date">
                            2023-08-07
                        </div>
                        <div class="pay_title">
                            방제목
                        </div>
                        <div class="pay_name">
                            엄석대
                        </div>
                        <div class="pay_price">
                            200,000원
                        </div>
                        <div class="btn_div">
                            <div class="star-rating-btn">
                                <button class="payment_list_btn" id="star_rating_btn">호스트 평가</button>
                            </div>
                            <div class="pay-commit-btn">
                                <button class="payment_list_btn" id="pay_commit_btn">구매확정</button>
                            </div>
                        </div>
                    </div>
                    <div class="payment_list">
                        <div class="pay_date">
                            2023-08-07
                        </div>
                        <div class="pay_title">
                            방제목
                        </div>
                        <div class="pay_name">
                            허니 콤보
                        </div>
                        <div class="pay_price">
                            20,000원
                        </div>
                        <div class="btn_div">
                            <div class="star-rating-btn">
                                <button class="payment_list_btn" id="star_rating_btn">호스트 평가</button>
                            </div>
                            <div class="pay-commit-btn">
                                <button class="payment_list_btn" id="pay_commit_btn">구매확정</button>
                            </div>
                        </div>
                    </div>
                    <div class="payment_list">
                        <div class="pay_date">
                            2023-08-07
                        </div>
                        <div class="pay_title">
                            방제목
                        </div>
                        <div class="pay_name">
                            허니 콤보
                        </div>
                        <div class="pay_price">
                            20,000원
                        </div>
                        <div class="btn_div">
                            <div class="star-rating-btn">
                                <button class="payment_list_btn" id="star_rating_btn">호스트 평가</button>
                            </div>
                            <div class="pay-commit-btn">
                                <button class="payment_list_btn" id="pay_commit_btn">구매확정</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 호스트 평가 창 -->
        <div class="modal-background">
            <div class="modal-window">
                <div class="modal-popup">
                    <div class="modal-popup-close">
                        <div class="modal-popup-close-name">X</div>
                    </div>
                    <div class="modal-popup-title">
                        <div class="modal-popup-title-name">호스트 평가</div>
                    </div>
                    <div class="modal-star-rating">
                        <div class="starRev">
                            <span class="starR">⭐</span>
                            <span class="starR">⭐</span>
                            <span class="starR">⭐</span>
                            <span class="starR">⭐</span>
                            <span class="starR">⭐</span>
                        </div>
                        <p id="star_num_text"></p>
                    </div>
                    <div class="modal-commit">
                        <input id="modal_commit" type="button" value="확인">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/Payment_details.js?ab3"></script>
    <!--    자바스크립트 경로-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="Payment_details.js"></script>
</body>

<script>
    // 모바일 헤더 js
    function header_show() {
        document.querySelector(".header2").className = "header2 header2_show";
    }

    function close() {
        document.querySelector(".header2").className = "header2";
    }

    document.querySelector("#header_show").addEventListener('click', header_show);
    document.querySelector(".body").addEventListener('click', close);
</script>

</html>