<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/Register_style.css">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container">
            <form action="#">
                <h1 class="Register">Sign Up</h1>
                <h3 class="Register">회원가입을 위해</br> 정보를 입력해주세요.</h3>
                <label for="id"><p>* ID</p>
                    <input type="text" name="id" id="id"
                               oninvalid="this.setCustomValidity('올바르지 않은 정보가 입력되었습니다.')";
                               autocomplete="off" required>
                </label>
                <label for="pw"><p>* PW</p>
                    <input type="password" name="pw" id="pw"
                           oninvalid="this.setCustomValidity('올바르지 않은 정보가 입력되었습니다.')";
                           autocomplete="off"  required>
                </label>
                <label for="pw_check"><p>* PW CHECK</p>
                    <input type="password" name="pw_check" id="pw_check"
                           oninvalid="this.setCustomValidity('올바르지 않은 정보가 입력되었습니다.')";
                           autocomplete="off" required>
                </label>
                <label for="nickname"><p>* Nick Name</p>
                    <input type="text" name="nickname" id="nickname"
                           oninvalid="this.setCustomValidity('올바르지 않은 정보가 입력되었습니다.')";
                           autocomplete="off" required>
                </label>
                <label for="phone"><p>* Phone Number</p>
                    <input type="text" class="phone" name="phone" id="phone" oninput="autoHyphen(this)" maxlength="13"
                           oninvalid="this.setCustomValidity('올바르지 않은 정보가 입력되었습니다.')";
                           autocomplete="off"  required>
                    <button class="btn-Certified" id='btnsend' type="button">인증번호 받기</button>
                </label>
                <label for="certified">
                    <input class="certified" id='certified' type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                           name="authNum" placeholder="인증번호를 입력해주세요." autocomplete="off">
                    <button class = "btnRegister" id='btnRegister' type="submit">가입하기</button>
                </label>
            </form>
        </div>
    </div>

    <script src="/static/js/Register.js"></script>



</body>
</html>