@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #F0F0F0;
    background-size: cover;
    font-size: 1.5vw;
}

table{
    margin-left:auto; 
    margin-right:auto;
    border-collapse : collapse; 
    margin-top: 30px;
    font-size: 1.5vw;
}  /*이중선 제거*/
th{
    width: 4vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #000;
    
     vertical-align: top;	/* 위 */
     vertical-align: bottom;   /* 아래 */
     vertical-align: middle;   /* 가운데 */
}
td{
    width: 15vw;
    height: 4vw;
    text-align: center;
    border: 1px solid #000;
    
     vertical-align: top;	/* 위 */
     vertical-align: bottom;   /* 아래 */
     vertical-align: middle;   /* 가운데 */
}


.result-account-form {position: relative; z-index: 2; text-align: center;}
.result-account-form h1 {
    font-size: 7vw; color: #7CAB75; font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}


.mainPage {margin-top: 30px;}
.mainPage button{
    width: 100%; height: 5%;
    font-size: 2vw;
    font-weight: bold;
    color: #D9D9D9;
    border: none;
    background: #7CAB75;
    border-radius: 6px;
    cursor: pointer;
}