<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챗봇</title>
    <link rel="stylesheet" href="chatbot.css">
</head>

<link rel="preconnect" href="https://fonts.googleapis.com"> <!--  <p> 폰트 적용 -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet"> <!--  <p> 폰트 적용 -->
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Play:wght@700&display=swap" rel="stylesheet">

<body>
    <div class="main">
        <div class="topper">
            <!-- 로그인 부분 -->
            <div class="login">
                <a href="#" class="v-bar" style="color: #8E8E8E">도움말</a>
                <a href="#" class="v-bar" style="color: #8E8E8E">이벤트</a>
                <a href="/logout" class="logout" style="color: #8E8E8E">로그아웃</a>
            </div>
        </div>
        <!-- 헤더 부분 -->
        <div class="header">
            <!-- CO-ORDER 제목 부분 -->
            <div class="logo-img">
                <!--            <a href="메인화면 링크" style="color: #7CAB75">CO-OR</a>-->
                <img class="logo" src="images/COOR2.png">
                <p>ALL 📒 POST </p>
            </div>
            <div id="header-bell" class="header-bell">
                <span class="bell">
                    <img src="images/bell.png" style="width : 25px; height : 25px;" alt="">
                </span>
            </div>
            <div id="header-profile" class="header-profile">
                <a class="header-user">
                    <span class="user-picture">
                        <img src="images/profile.png" height="50px" width="50px">
                    </span>
                    <span class="user-name" th:text="${nickname}">
                        김윤준
                    </span>
                    <span class="header-arrow">
                        <img src="https://buts.co.kr/thema/Buts/colorset/Basic/img/mymenu-arrow.png" alt="">
                    </span>
                </a>
                <div id="layer-header-profile" class="layer-header-profile" style="display : none;">
                    <div class="block block-name">
                        <div class="profile-name" th:text="${nickname}">
                            김윤준
                        </div>
                        <div class="buttons">
                            <a href="#">파티관리</a>
                        </div>
                    </div>
                    <!--                    <div class="header-profile-direct">-->
                    <!--                        <dl class="header-member-direct__information">-->
                    <!--                            <div class="profile-nickname" th:text="${nickname}"></div>-->
                    <!--                            <input type="button" id="profile_btn_btn" onclick="myPage()" value="마이페이지"></input>-->
                    <!--                            <dd>ㅇㅇ</dd>-->
                    <!--                            <dd>ㅇㅇ</dd>-->
                    <!--                        </dl>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="body">
            <div class="body_title">
                Chat Bot
            </div>
            <!-- 채팅 -->
            <div id="chat-container">
                <div id="chat-messages"></div>
                <div id="user-input">
                    <input type="text" placeholder="메시지를 입력하세요" onfocus="this.placeholder=''"
                        onblur="this.placeholder='메시지를 입력하세요'" />
                    <button>전송</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="chatbot.js"></script>
</body>

</html>