@import url(https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600);

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'codropsicons';
    src: url("../fonts/codropsicons/codropsicons.eot");
    src: url("../fonts/codropsicons/codropsicons.eot?#iefix") format("embedded-opentype"), url("../fonts/codropsicons/codropsicons.woff") format("woff"), url("../fonts/codropsicons/codropsicons.ttf") format("truetype"), url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    line-height: 1.6;
    display: block;
    overflow: scroll;
}

.main {
    position: relative;
    width: 95%;
    margin: auto;
}

.header {
    position: relative;
    width: 90%;
    height: 130px;
    margin: auto;
}

.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100%;
    text-align: right;
    font-size: 13px;
    font-weight: bold;
    white-space: nowrap;
    z-index: 1;
}
.logout_btn{
    text-decoration: none;
}

.domain {
    position: absolute;
    top: 14px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
}
.domain_btn{
    text-decoration: none;
}

.profile {
    position: absolute;
    top: 70px;
    right: 20px;
    text-align: center;
    white-space: nowrap;
    /*줄바꿈 방지*/
    z-index: 1;
}

/*프로필 버튼*/
#profile_btn {
    position: relative;
    top: 11px;
    width: 40px;
    height: 40px;
    font-size: 14px;
    border: none;
    background-color: #f0f0f0;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
}

/*프로필 클릭시 표시되는 창*/
#layer-header-profile {
    display: none;
    position: absolute;
    top: 130%;
    left: -5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    background-color: #bfbfbf;
    font-size: 14px;
    transform: translate3d(-50%, 0, 0);
    border-radius: 10px;
}

.header-profile-direct {
    z-index: 1;
    width: 150px;
    padding: 15px;
    font-size: 15px;
}

#profile_btn_btn {
    top: 2px;
    width: 100%;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #d9d9d900;
    color: #656565;
    border: none;
    display: inline-block;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

.main-content {
    margin: auto;
    position: relative;
    align-items: center;
    width: 90%;
}

.chat-content {
    width: 100%;
    height: 100%;
    margin: auto;
}

/* 지도 */
.map_box {
    width: 40%;
    position: absolute;
}

.map {
    position: absolute;
    width: 28%;
    border-radius: 20px;
    display: none;
    margin-top: 75px;
    margin-left: 10px;
}

.wrap_controllers {
    display: none;
}

.root_daum_roughmap {
    width: 100% !important;
}

.map_close {
    position: relative;
    display: none;
    margin-left: 300px;
}

.chat-header {
    padding: 18px;
    background: #7cab75;
}

.chat {
    width: 60%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.button {
    min-width: 33%;
    max-width: 250px;
    display: block;
    margin: 1em;
    padding: 1em 2em;
    border: none;
    background: none;
    color: inherit;
    position: relative;
    z-index: 1;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}

.button:focus {
    outline: none;
}

.button>span {
    vertical-align: middle;
}

.button--ujarak {
    -webkit-transition: border-color 0.4s, color 0.4s;
    transition: border-color 0.4s, color 0.4s;
}

.button--ujarak::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #37474f;
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale3d(0.7, 1, 1);
    transform: scale3d(0.7, 1, 1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak.button--round-s::before {
    border-radius: 2px;
}

.button--ujarak.button--inverted::before {
    background: #7986CB;
}

.button--ujarak,
.button--ujarak::before {
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.button--ujarak:hover {
    color: #fff;
    border-color: #37474f;
}

.button--ujarak.button--inverted:hover {
    color: #37474F;
    border-color: #fff;
}

.button--ujarak:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.button--border-thin {
    border: 1px solid;
}

.button--text-thick {
    font-weight: 600;
}

#map_close {
    display: none;
}

#map_button {
    display: block;
}


/* ------------------------------------------------------------------------------------------- */
/* 채팅 */
.chat_wrap {
    border: 1px solid #999;
    width: 35%;
    padding: 5px;
    font-size: 13px;
    color: #333;
    position: absolute;
    left: 30%;
}

.chat_wrap .inner {
    background-color: #acc2d2;
    padding: 10px;
    overflow-y: scroll;
    height: 500px;
}

.chat_wrap .item {
    margin-top: 15px
}

.chat_wrap .item:first-child {
    margin-top: 0px
}

.chat_wrap .item .box {
    display: inline-block;
    max-width: 180px;
    position: relative
}

.chat_wrap .item .box::before {
    content: "";
    position: absolute;
    left: -8px;
    top: 9px;
    border-top: 0px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff;
}

.chat_wrap .item .box .msg {
    background: #fff;
    border-radius: 10px;
    padding: 8px;
    text-align: left;
    word-break: break-word;
}

.chat_wrap .item .box .time {
    font-size: 11px;
    color: #999;
    position: absolute;
    right: -75px;
    bottom: 5px;
    width: 70px
}

.chat_wrap .item.mymsg {
    text-align: right
}

.chat_wrap .item.mymsg .box::before {
    left: auto;
    right: -8px;
    border-left: 8px solid #fee600;
    border-right: 0;
}

.chat_wrap .item.mymsg .box .msg {
    background: #fee600
}

.chat_wrap .item.mymsg .box .time {
    right: auto;
    left: -75px
}

.chat_wrap .item .box {
    transition: all .3s ease-out;
    margin: 0 0 0 20px;
    opacity: 0
}

.chat_wrap .item.mymsg .box {
    transition: all .3s ease-out;
    margin: 0 20px 0 0;
}

.chat_wrap .item.on .box {
    margin: 0;
    opacity: 1;
}

input[type="text"] {
    border: 0;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    height: 30px;
    padding-left: 5px;
    box-sizing: border-box;
    margin-top: 5px
}

input[type="text"]::placeholder {
    color: #999
}


* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

/* 채팅 참가자 */
.vistor{
    border: 1px solid #999;
    padding: 5px;
    font-size: 13px;
    color: #333;
    position: absolute;
    background-color: #fc0000;
    width: 250px;
    height: 400px;
    margin-top: 55px;
    box-sizing: border-box;
    border: 1px solid #ff0000;
    font-size: 14px;
    transform: translate3d(-30%, 0, 0);
    border-radius: 10px;
    display: block;
}

/* 햄버거 버튼*/
.menu_trigger{
    cursor: pointer;
}

/* ---------------------------------------------------------------- */

/* 판매자 연락처 */
.phone_number {
    background-color: #fff;
    position: relative;
    margin: auto;
}

.phone {
    font-family: 'Gugi', cursive;
    font-size: 1vw;
}

/* 채팅방 이름 */
.chat_name {
    font-family: 'Gugi', cursive;
    font-size: 1.4vw;
    margin-top: 20px;
    background-color: #acc2d2;
}
.chat_title {
    margin-left: 30px;
}


/* 추방투표 버튼 */
.vote {
    float: right;
    position: absolute;
    margin-left: 15vw;
    width: 15%;
    background: #a71a1a;
    color: #fff;
    z-index: 1;
    cursor: pointer;
}
.vote:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: #e0e5ec;
    transition: all 0.3s ease;
}
.vote:hover {
    color: #000;
}
.vote:hover:after {
    left: 0;
    width: 100%;
}
/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */